*
{
    margin : 0;
    padding : 0;
}

body
{
    background: #343A40;
}

.navbared
{
    border-radius: 0;
    width: 100%;
    padding: 0px 20px;
    margin-bottom: 0px;
}

.resection
{
    padding-top: 78px;
}

.resection-lg
{
    padding-top: 128px;
}

.resize-img
{
    max-width: 100%;
}

.jumbotron
{
    border-radius: 0 !important;
    padding: 0 !important;
}

.jumbotron-dark
{
    color: white;
    background: rgba(0, 0, 0, 0);
    margin: 0;
}

.text-center
{
    text-align: center;
}

.full-width
{
    width: 100%;
}

.half-width
{
    width: 50%;
}

.sm-width
{
    width: 25%;
}

.no-margin
{
    margin: 0;
}

.showcase-item
{
    height: 220px;
    padding: 2px;
}

.showcase-item .showcase-item-box
{
    background: rgba(255, 255, 255, 0.6);
    color: rgb(94, 94, 94);
    padding: 40px;
    height: 100%;
    width: 100%;
    text-align: center;
}

.push
{
    margin-top: 40px;
}

.push-lg
{
    margin-top: 78px;
}

.push-sm
{
    margin-top: 5px;
}

.push-bottom
{
    margin-bottom: 40px;
}

.push-bottom-lg
{
    margin-bottom: 78px;
}

.push-bottom-sm
{
    margin-bottom: 5px;
}

@media(max-width: 767px)
{
    .jumbotron h1
    {
        font-size: 31px;
    }
}

.gradients
{
    height: 100%;
    /*background: -webkit-linear-gradient(to bottom right, rgb(233, 120, 120), rgb(143, 36, 36));*/
    background: linear-gradient(to bottom right, rgb(233, 120, 120), rgb(143, 36, 36));
    background-attachment: fixed;
    /*filter: blur(1px);*/
}

.main
{
    width: 50%;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}