@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(https://fonts.googleapis.com/css?family=Roboto);

[class*=entypo-]:before {
  font-family: "entypo", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h2 {
  color: white;
  margin-left: 12px;
}

body {
  background: #272125;
  font-family: "Roboto", sans-serif;
}

form {
  position: relative;
  margin: 50px auto;
  width: 380px;
  height: auto;
}

table {
  width: 380px;
  height: auto;
}

input {
  padding: 16px;
  border-radius: 7px;
  border: 0px;
  background: rgba(255, 255, 255, 0.2);
  display: block;
  margin: 15px;
  width: 300px;
  color: #ff8a30;
  font-size: 18px;
  height: 54px;
}

.button1 {
  float: right;
  height: 121px;
  width: 50px;
  border: 0px;
  background: #ff8a30;
  border-radius: 7px;
  padding: 10px;
  color: white;
  font-size: 22px;
}

.button2 {
  height: 50px;
  width: 170px;
  border: 0px;
  background: #ff8a30;
  border-radius: 7px;
  padding: 10px;
  color: white;
  font-size: 22px;
}

.inputUserIcon {
  position: absolute;
  top: 68px;
  right: 80px;
  color: #ff8a30;
}

.inputPassIcon {
  position: absolute;
  top: 136px;
  right: 80px;
  color: #ff8a30;
}
